@charset "utf-8";
/* CSS Document */

div.box {
	font-family:Arial, Helvetica, sans-serif;
}

strong {
	color:#C00;
	font-size:larger;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: red;}